# Python
__pycache__/

# Virtual environments
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Environment variables (API keys etc.)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log